apple.laf.useScreenMenuBar=true
apple.awt.fullscreencapturealldisplays=false
apple.awt.graphics.UseQuartz=true
ide.mac.useNativeClipboard={{ clion_use_native_clipboard|lower }}
CVS_PASSFILE=~/.cvspass
idea.jars.nocopy=true
idea.no.jre.check=true
java.endorsed.dirs=
idea.smooth.progress=false
idea.fatal.error.notification=disabled
com.apple.mrj.application.live-resize=false
JVMVersion=1.6+
